
  <h3 class="govuk-heading-m ">Your details</h3>


     
   {% if showDetailsInterstitial == true %}
  <ul class="govuk-list govuk-!-font-size-16">
    <li>
      Official name
    </li>
    <li>
      <span class="govuk-!-font-weight-bold">{{ data.user | getShortName }}</span>
      <p class="govuk-hint govuk-!-font-size-14">Displayed on teaching certificates</p>
    </li>
  </ul>
  <ul class="govuk-list govuk-!-font-size-16">
    <li>
      Teacher Reference number (TRN)
    </li>
    <li>
      <p class="govuk-!-font-weight-bold">{{ data.user.trn  or 1851018}} </p>
    </li>
  </ul>

   <a href='/landing-pages/interstitial'>View and update details</a>

   {% else %}
   <p>
    Name on certificates<br> 
    <b>{{ data.DQTfullName }}</b>
    {% if data['nameLozenge'] %}
    <br> {% include 'includes/_lozenge.html' %}
    {% endif %}
  </p>

   <p>
    Date of birth<br> 
    <b>{{ data.dqtDob | isoDateFromDateInput | date }}</b>  
    {% if data['dobLozenge'] %}
    <br> {% include 'includes/_lozenge.html' %}
    {% endif %}
  </p>

  <p>
    Teacher Reference number (TRN)<br> 
    <b>{{ data.trn  or 1851018}}</b>
  </p>
  <p>
   <a href='account-details'>View and update details</a>
   {% endif %}
  </p>
