//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

@import "patterns/_sub-navigation";
@import "patterns/_masthead";
@import "patterns/_panel";


#bannerBar {
  background-color: #F3F2F1;
  padding: 0 0 0 0.5em;  
}
.govuk-notification-banner--success {
  margin: 1em 0 0 0;
}
.details-menu {
  margin-top: 13%;
}

.details-menu h3 {
  border-bottom: 2px solid #1d70b8;
    padding-bottom: 10px;
    
}

.details-menu p {
  font-size: 16px;
}

.details-menu a, .induction-history {
  font-size: 16px;
}

.details-menu .govuk-tag {
  font-size: 14px;
  margin-top: 4px;
}

.induction-history {
  border-top: 1px solid #b1b4b6;
  padding-top: 10px;
}

.induction-history .govuk-details{
  margin: 0 
}