{% extends "layouts/forms-interrupt.html" %}
{% set subHeader %}Change your details{% endset %}
{% set title = data.dia %}
{% set account  = 'true' %}
{% set signedIn = 'true' %}
{% set hideButton = 'true' %}
{% set buttonText = 'Access your ' + data.dia %}
{% set backlink = true %}



{% block form %}
<!-- <span class="govuk-caption-xl ">{{subHeader}}</span> -->

<h1 class="govuk-panel__title">{{ title }}</h1>

<p class="govuk-!-margin-bottom-6">You can change sign in and personal details in your {{ data.dia }}. </p>
<p class="govuk-!-margin-bottom-6">You use your {{ data.dia }} to sign-in to <b>'{{ serviceName }}'</b>. </p>

{{ govukButton({
    classes: "app-button--inverse govuk-!-margin-bottom-0",
    html: buttonText if buttonText else 'Continue'
  }) }}
{% endblock %}
