{% extends "layouts/forms.html" %}
{% set title %}Change your sign in details{% endset %}
{% set account  = 'true' %}
{% set signedIn = 'true' %}
{% set showSubheader = true %}
{% set subHeader = data.dia %}
{% set buttonText = 'Access your ' + data.dia %}
{% set backlink = true %}



{% block form %}
<p class="govuk-!-margin-bottom-6">You use your {{ data.dia }} to sign in to '{{ serviceName }}'. </p>
<p>You can change these sign-in details in your {{ data.dia }}</p>

<ul class="govuk-list govuk-list--bullet">
    <li>
        email address
    </li>
    <li>
        name
    </li>
    <li>
        date of birth
    </li>
    <li>
        mobile number
    </li>
</ul>

{% endblock %}
