{% extends "layouts/govukonelogin-aytq" %}

{% block pageTitle %}
  {{ serviceName }} – Teacher record not found
{% endblock %}

{% block content %}

<form class="form" action="/govukonelogin/create/trn-check/nino" method="post">

  <div class="govuk-grid-row">

      <div class="govuk-panel app-panel--interruption">
        <h1 class="govuk-panel__title">
          Find your teaching record
        </h1>
        <div class="govuk-panel__body" style="font-size:24px">
          You’ve signed in to GOV.UK One Login and verified your identity.
          <br>
          <br>
          We’ll ask for your national insurance number or teacher reference number (TRN) so we can find your teaching record.
          <br>
          <br>
          You won’t need to do this again.
          <br>
          <br>
        </div>
        <button class="govuk-button app-button--inverse">
          Find your record
        </button>      
      </div>

      </form>

  </div>

{% endblock %}