{% extends "layouts/govukonelogin-aytq" %}

{% block pageTitle %}
Do you have a National insurance number? - {{ serviceName }}
{% endblock %}

{% block content %}

<form class="form" action="/govukonelogin/create/trn-check/trn" method="post">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set ninoYes %}
      {{ govukInput({
      id: "nino",
      name: "nino",
      spellcheck: false,
      classes: "govuk-input--width-20",
      label: {
      text: "National Insurance number"
      },
      value: data['nino']
      }) }}
      {% endset -%}

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
      name: "matchTRNNino",
      fieldset: {
      legend: {
      text: "Do you have a National Insurance number?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
      }
      },
      hint: {
      text: "It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’."
      },
      items: [
      {
      value: "nino",
      text: "Yes",
      conditional: {
      html: ninoYes
      }
      },
      {
      value: "nino-no",
      text: "No"
      }
      ]
      }) }}

      {{ govukButton({
      text: "Continue"
      }) }}

</form>

</div>
</div>

{% endblock %}