{% extends "layouts/govukonelogin-aytq" %}

{% block pageTitle %}
  {{ serviceName }} – Teacher record not found
{% endblock %}

{% block content %}

<form class="form" action="/govukonelogin/create/trn-check/check-answers" method="post">

  <div class="govuk-grid-row">

    <div class="govuk-panel app-panel--interruption">
      <h1 class="govuk-panel__title">
        We haven’t found your teaching record
      </h1>
      <div class="govuk-panel__body" style="font-size:24px">
        We’ve been unable to match your answers to a teaching record.
        <br>
        <br>
      </div>
      <div class="govuk-panel__body">
        <h2 class="govuk-heading-l">Get support</h2>
       </div>
       <div class="govuk-panel__body" style="font-size:24px">
        <br>
        Check your answers. If they’re correct, you can get support with accessing your teaching qualifications.
        <br>
        <br>
        We’ll check your details and contact you if we need any more information.
        <br>
        <br>
      </div>
      <button class="govuk-button app-button--inverse">
        Check your answers
      </button> 
      </div>
    </div>

      </form>

  </div>

{% endblock %}