
{% set details %}
{{ govukDetails({
  summaryText: "Induction history",
  text: "We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post."
}) }}
{% endset -%}


{{ govukSummaryList({
  card: {
    title: {
      text: "Induction"
    }
  },
  rows: [
    {
      key: {
        text: "Status"
      },
      value: {
        text: "Pass"
      }
    },
    {
      key: {
        text: "Completed"
      },
      value: {
        html: "1 November 2015"
      }
    },
    {
      key: {
        text: "Certificate"
      },
      value: {
        html: "<a href='#'>Download Induction certificate</a>"
      }
    }
  ]
}) }}