{% extends "layouts/forms.html" %}
{% set title = 'Qualification details' %}
{% set activeTab = true %}
{% set subHeader %} {{ data.name }}'s {% endset %}
{% set signedIn = 'true' %}
{% set hideButton  = 'true' %}
{% set activeTabAcc  = 'true' %}
{% set page  = 'account' %}
{% set showSubheader = true %}
{% set subHeader %}Jane Smith's {% endset %}


{% block beforeContent %}
  {% include 'landing-pages/_alerts.html' %}
{% endblock %}

{% block form %}

<!-- DOB header and lozenge -->

  {% set dob %}

    31 January 1974

    {% if data['dobLozenge'] %}
      {% include 'landing-pages/_lozenge.html' %}
    {% endif %}

  {% endset %}

<!-- Name header and lozenge -->

{% set name %}

Jane Smith

  {% if data['nameLozenge'] %}
    {% include 'landing-pages/_lozenge.html' %}
  {% endif %}

{% endset %}


{% include 'includes/tabs.html' %}


<!-- Personal details -->
{{ govukSummaryList({
  card: {
    title: {
      text: "Personal details"
    }
  },
  rows: [
    {
      key: {
        text: "Full name"
      },
      value: {
        html: name
      },
      actions: {
        items: [
          {
            href: "/edit-details/name",
            text: "Change",
            visuallyHiddenText: "full-name"
          }
        ]
      }
    },
    {
      key: {
        text: "Date of birth"
      },
      value: {
        html: dob
      },
      actions: {
        items: [
          {
            href: "/edit-details/date-of-birth",
            text: "Change",
            visuallyHiddenText: "DOB"
          }
        ]
      }
    }
  ]
}) }}



<!-- Account details -->
{{ govukSummaryList({
  card: {
    title: {
      text: "Contact details"
    }
  },
  rows: [
    {
      key: {
        text: "Email address"
      },
      value: {
        html: data['email']
      },
      actions: {
        items: [
          {
            href: "/edit-details/email",
            text: "Change",
            visuallyHiddenText: "full-name"
          }
        ]
      }
    },
    {
      key: {
        text: "Phone number"
      },
      value: {
        html: data['phone']
      },
      actions: {
        items: [
          {
            href: "/edit-details/phone",
            text: "Change",
            visuallyHiddenText: "DOB"
          }
        ]
      }
    }
  ]
}) }}

<!-- Personal details -->
{{ govukSummaryList({
  card: {
    title: {
      text: "Teacher Reference Number (TRN)"
    }
  },
  rows: [
    {
      key: {
        text: "TRN"
      },
      value: {
        html: "1851018"
      },
      actions: {
       
      }
    }
  ]
}) }}

{% endblock %}
