{% extends "layouts/govukonelogin.html" %}

{% block pageTitle %}
{{ serviceName }} – Create your password
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            Create your password
        </h1>

        {% from "govuk/components/input/macro.njk" import govukInput %}

        <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--body" for="weight">
                    Enter a password
                </label>
                <div id="event-name-hint" class="govuk-hint">
                    It must be at least 8 characters and must include letters and numbers. Do not use a very common
                    password, such as ‘password’ or a sequence of numbers.
                </div>
            </h1>
            <div class="govuk-input__wrapper">
                <input class="govuk-input govuk-input--width-" id="createPassword" name="create-password"
                    type="password" spellcheck="false">

                <button class="govuk-button govuk-button--secondary govuk-link" id="showButton" onclick="if (createPassword.type == 'text') createPassword.type = 'password';
            else createPassword.type = 'text';">
                    Show
                </button>

            </div>

            <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--body" for="weight">
                    Re-type password
                </label>
            </h1>
            <div class="govuk-input__wrapper">
                <input class="govuk-input govuk-input--width-" id="retypePassword" name="retype-password"
                    type="password" spellcheck="false">

                <button class="govuk-button govuk-button--secondary govuk-link" id="showButton2" value="show" onclick="if (retypePassword.type == 'text') retypePassword.type = 'password';
                    else retypePassword.type = 'text';">
                    Show
                </button>

            </div>
        </div>

        {%- from "govuk/components/input/macro.njk" import govukInput -%}


        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    How to create a secure password
                </span>
            </summary>
            <div class="govuk-details__text">
                A good way to create a secure and memorable password is to use 3 random words. You can use numbers,
                symbols and spaces.
            </div>
        </details>

        <h2 class="govuk-heading-m">
            Agree to our terms of use
        </h2>
        <p class="govuk-body">By continuing, you confirm that you agree to our:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="#" class="govuk-link">privacy notice (opens in new tab)</a>, which explains how we use your
                personal information.</li>
            <li><a href="#" class="govuk-link">terms and conditions (opens in new tab)</a>.</li>
        </ul>

    </div>

</div>

{{ govukButton({
text: "Continue",
href: "/govukonelogin/create/create-choose-security.html"
}) }}

</div>
</div>

{% endblock %}