{% extends "layouts/govukonelogin.html" %}

{% block pageTitle %}
Choose how to get security codes - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/auth-answer" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
      name: "authMethod",
      fieldset: {
      legend: {
      text: "Choose how to get security codes",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
      }
      },
      hint: {
      text: "To finish creating your account, choose a way to prove it’s you when you sign in."
      },
      items: [
      {
      value: "text-message",
      text: "Text message"
      },
      {
      value: "authenticator",
      text: "Authenticator app for smartphone, tablet or computer"
      }
      ]
      }) }}

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What is an authenticator app
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>An authenticator app creates a security code that helps confirm it’s you when you sign in.</p>
          <p> You can use an authenticator app on your smartphone, tablet or computer. Download an authenticator app
            from your app store or search online for an authenticator app for your computer.</p>
        </div>
      </details>

      {{ govukButton({
      text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}