{% set detailsTable %}


{{ govukSummaryList({
  classes: 'induction-history',
  rows: [
    {
      key: {
        text: "Appropriate body"
      },
      value: {
        text: "East London Teaching School Hub"
      }
    },
    {
      key: {
        text: "Start date"
      },
      value: {
        text: "5 June 2015"
      }
    },
    {
      key: {
        text: "End date"
      },
      value: {
        html: "1 October 2015"
      }
    },
    {
      key: {
        text: "Terms"
      },
      value: {
        html: "1"
      }
    }
  ]
}) }}
<br>
{{ govukSummaryList({
  classes: 'induction-history',
  rows: [
    {
      key: {
        text: "Appropriate body"
      },
      value: {
        text: "National Teacher Accreditation"
      }
    },
    {
      key: {
        text: "Start date"
      },
      value: {
        text: "5 January 2014"
      }
    },
    {
      key: {
        text: "End date"
      },
      value: {
        html: "1 June 2015"
      }
    },
    {
      key: {
        text: "Terms"
      },
      value: {
        html: "2"
      }
    }
  ]
}) }}

{% endset -%}
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Induction</h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Status
        </dt>
        <dd class="govuk-summary-list__value">
          Pass
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Completed	
        </dt>
        <dd class="govuk-summary-list__value">
            1 November 2015
        </dd>
  
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Certificate
        </dt>
        <dd class="govuk-summary-list__value">
          <a download href='#'>Download Induction certificate</a>
        </dd>
      </div>
    </dl>
    <div class="induction-history">
      {{ govukDetails({
        summaryText: "Induction history",
        html: detailsTable
      }) }}  
    </div>
  </div>
</div>