
{% extends "layouts/main.html" %}
{% block pageTitle %} {{serviceName}} prototype{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}

  <div class="app-masthead">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
          <h1 class="app-masthead__title govuk-heading-xl govuk-!-margin-bottom-3">
            TRA Digital
          </h1>
          <div class="app-masthead__subtitle govuk-heading-l">Prototypes of {{serviceName}}</div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
<h2 class="govuk-heading-m">Qual V2 

  {{govukTag({
    text: "latest design",
    classes: "govuk-tag--blue"
  })}}
</h2>
<p class="govuk-!-font-weight-bold">Start page and auth</p>
<p><a href='landing-pages/start'>Qualifications start page + auth</a></p>


<p class="govuk-!-font-weight-bold">Qualifications landing page scenarios </p>

<p><a href='/user-research/all-quals/'>All certificates</a></p>
<p><a href='/user-research/mvp/'>MVP (Induction, QTS,  ITT & MQ)</a></p>
<p><a href='/user-research/all-induction/'>All induction types</a></p>

<p class="govuk-!-font-weight-bold">Qualifications landing page </p>
<p><a href='landing-pages/v2/account-details'>Account details landing page</a></p>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


<h2 class="govuk-heading-m">Qual V1         
  {{govukTag({
  text: "Archived",
  classes: "govuk-tag--yellow"
})}} </h2>
<p>Design and quals taken from the TSSP - design does not inlude auth</p>
<p><a href='landing-pages/v1/qualifications'>Qualifications landing page</a></p>
<p><a href='landing-pages/v1/induction'>Induction landing page</a></p>
<p><a href='landing-pages/v1/account-details'>Account details landing page</a></p>
{% endblock %}
