{% extends "layouts/main.html" %}
{% set formActionHtml %}
  {%- if formAction -%}
    action={{- formAction -}}
  {%- endif -%}
{% endset -%}

{% set pageWidth %}
  {%- if notFullWidth -%}
    govuk-grid-column-two-thirds-from-desktop
  {%- else -%}
    govuk-grid-column-full
  {%- endif -%}
{% endset -%}


{% block beforeContent %}
{%- if backlink -%}
  {% include 'includes/back.html' %}
{%- endif -%}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class='{{pageWidth}}'>
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: data['errorMessageCopy'],
            href: "#email"
          } 
        ]
      }) if data['errorMessage'] == 'true' }} 
    
      {% if showSubheader %}
         <span class="govuk-caption-xl">{{subHeader}}</span>
       {% endif %}
       {% if not showheader %}
        <h1 class="govuk-heading-xl">{{ title | safe }}</h1>
       {% endif %}


      <form {{formActionHtml | safe }} method="post" novalidate spellcheck="false">
        {% block form %}{% endblock %}
        {% if not hideButton %}
        {{ govukButton({
          html: buttonText if buttonText else 'Continue'
        }) }}
      {% endif %}
      {{ secondaryButton | safe if secondaryButton }}
      </form>
    </div>
  </div>
{% endblock %}